body{
    width: 1441px;
    height: 821px;
    max-width: 1000px;
    min-width: 700px;
}

/*section 1*/

#sec-1{
    width: 1440px;
    height: 120px;
}

#sec-1 .title{
    display: flex;
    justify-content: center;
    font-family: 'Pangolin', cursive;
    font-size: 30px;
}

#sec-1 hr{
    position: absolute;
    width: 770px;
    height: 0px;
    left: 340px;
    top: 100px;
    border: 1px solid #000000;
}

/*section 2*/

#sec-2{
    width: 1440px;
    height: 1070px;
}

#sec-2 .text1{
    width: 470px;
    height: auto;
    text-align: center;
    position: absolute;
    top: 16vh;
    left: 60vh;
}

.style_text{
    font-size: 20px;
    font-family: 'Brygada 1918', serif;
}
/*zoom effect*/

.image_width{
    width: 50vh;
    height: auto;
}

.zoom {
    width: 320px;
    height: 240px;
    }
    .image1 {
        width: 515px;
        height: auto;
        position: absolute;
        top: 38vh;
        left: 60vh;
    }
    .image1 img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .image1:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.50); /* Safari et Chrome */
    -moz-transform:scale(1.50); /* Firefox */
    -ms-transform:scale(1.50); /* Internet Explorer 9 */
    -o-transform:scale(1.50); /* Opera */
    transform:scale(1.50);
    }

#sec-2 .source1{
    width: 200px;
    position: absolute;
    top: -1vh;
    left: 3vh;
    font-family: 'Open Sans', sans-serif;
}

#sec-2 .rectangle{
    position: absolute;
    width: 232px;
    height: 40px;
    left: 12px;
    top: 60vh;
    background: #F6DDCC;
    border-radius: 64px;
}

#sec-2 hr{
    position: absolute;
    width: 770px;
    height: 0px;
    left: 340px;
    top: 100vh;
    border: 1px solid #000000;
}   

#sec-2 .schéma{
    width: 36vh;
    height: auto;
}

.zoom {
    width: 320px;
    height: 240px;
    }
    .image2 {
    position: absolute;
    top: 100vh;
    left: 68vh;
    }
    .image2 img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .image2:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.70); /* Safari et Chrome */
    -moz-transform:scale(1.70); /* Firefox */
    -ms-transform:scale(1.70); /* Internet Explorer 9 */
    -o-transform:scale(1.70); /* Opera */
    transform:scale(1.70);
    }

#sec-2 .source{
    width: 212px;
    position: absolute;
    top: -1vh;
    left: 1vh;
    font-family: 'Open Sans', sans-serif;
}

#sec-2 .rectangle{
    position: absolute;
    width: 232px;
    height: 40px;
    left: 12px;
    top: 105vh;
    background: #F6DDCC;
    border-radius: 64px;
}

#sec-2 hr{
    position: absolute;
    width: 770px;
    height: 0px;
    left: 340px;
    top: 85vh;
    border: 1px solid #000000;
}   
/*hors section 1, 2, 3*/

hr{
    position: absolute;
    width: 1440px;
    height: 0px;
    top: 142vh;
    border: 1px solid #000000;
}

/*section 3*/

#sec-3{
    width: 1440px;
    height: 650px;
}

#sec-3 .title{
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: 30px;
}

#sec-3 hr{
    position: absolute;
    width: 770px;
    height: 0px;
    left: 340px;
    top: 159vh;
    border: 1px solid #000000;
}

#sec-3 .text{
    width: 470px;
    height: auto;
    text-align: center;
    position: absolute;
    top: 170vh;
    left: 60vh;
}

/*zoom effect*/

#sec-3 .dessin{
    width: 36vh;
    height: auto;
}

.zoom {
    width: 320px;
    height: 240px;
    }
    .image3{
    position: absolute;
    top: 198vh;
    left: 68vh;
    }
    .image3 img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .image3:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.70); /* Safari et Chrome */
    -moz-transform:scale(1.70); /* Firefox */
    -ms-transform:scale(1.70); /* Internet Explorer 9 */
    -o-transform:scale(1.70); /* Opera */
    transform:scale(1.70);
    }

#sec-3 .source{
    width: 212px;
    position: absolute;
    top: -1vh;
    left: 1vh;
    font-family: 'Open Sans', sans-serif;
}
    
#sec-3 .rectangle{
    position: absolute;
    width: 232px;
    height: 40px;
    left: 12px;
    top: 190vh;
    background: rgb(246, 221, 204);
    border-radius: 64px;
}

/*footer*/

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1440px;
    height: 80px;
    background-color: #34495E;
    color: white;
    text-align: center;
    top: 265vh;
}
  
  .footer p{
    text-align: center;
  }
  
